<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meowlo | About</title>
    <link rel="icon" href="/img/meowlo-favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <section class="about-page">
            <img src ="img/about.jpg">
            <div class="story">
                <h1>Our Story</h1>
                <p>Meowlo was born out of a slack chat, where CEO Katie and CTO Kyle hung out after their roommates go to work. They decided to create Meowlo to help more hardworking house cats become financially independent by providing valuable services to humans. </p>
                <p>We celebrate freedom and achievement, and we don’t believe in handouts (especially we want more real fishy treats instead of dry cereals). We want to work hard and excel at giving our users excellent and smooth personal experience. Try our <a href="/products"> products </a> and see for yourself! </p>
                <p>As a young start-up, we also value your constructive feedback, send your feedback to <a href="mailto:hi@meowlo.cat">hi@meowlo.cat</a>. We promise we don’t bite. </p>
                <p>Meowvely yours,<br>Meowlo Team</p>
            </div>
        </section>

        <section>
        <h1>Join us</h1>
        <div class="staff">
            <div class="staff-tile">
                <img src="img/Katie.jpg">
                <div class="staff-tile__info">
                    <h3>Katie</h3>
                    <p>CEO</p>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Kyle.jpg">
                <div class="staff-tile__info">
                    <h3>Kyle</h3>
                    <p>CTO</p>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Annie.jpg">
                <div class="staff-tile__info">
                    <h3>Annie</h3>
                    <p>Software Engineer</p>
                    <a href="https://github.com/AnnieTaylorCHEN">Github</a>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Taylor.jpg">
                <div class="staff-tile__info">
                    <h3>Taylor</h3>
                    <p>Software Engineer</p>
                    <a href="https://github.com/AnnieTaylorCHEN">Github</a>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Chen.jpg">
                <div class="staff-tile__info">
                    <h3>Chen</h3>
                    <p>Software Engineer</p>
                    <a href="https://github.com/AnnieTaylorCHEN">Github</a>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Martin.jpg">
                <div class="staff-tile__info">
                    <h3>Martin</h3>
                    <p>Managing Solution Architect</p>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/Eddie.jpg">
                <div class="staff-tile__info">
                    <h3>Eddie</h3>
                    <p>Our office dog</p>
                </div>
            </div>
            <div class="staff-tile">
                <img src="img/meowlo-logo.svg">
                <div class="staff-tile__info">
                    <h3>Interested?</h3>
                    <p>Join us!</p>
                </div>
            </div>
            
        </div>
        </section>
    </div>
    {{>footer}}

</body>
</html>