/*hangman game*/
.hangman {
  background-image: url("../img/game-bg.jpg");
  width: 100%;
  height: 700px;
  position: relative;
}

.hangman__info {
  padding: 1.5rem;
  color: white;
  font-size: 1.3rem;
}

.wrapper {
  display: none;
}

/*to-do list*/
.todo {
  background-color: var(--light-yellow);
  padding: 2rem;
}

.actions {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
}

.input {
  border: none;
  outline: none;
  height: 2rem;
  margin-right: 1.6rem;
  padding: 0.4rem 0.8rem;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox > input {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.4rem;
}

.checkbox--inner {
  height: 1.3rem;
  width: 1.3rem;
}

.list-item__container {
  display: flex;
  align-items: center;
}

.list-item__container > *:first-child {
  margin-right: 0.8rem;
}

.list-item {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--blue);
  margin: 1rem 0;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item:hover {
  background-color: var(--yellow);
}

.empty-message {
  font-size: 1.3rem;
}

#todo-button {
  margin-top: 1rem;
}

/*the meow song maker*/
.meow {
  background-image: url(/img/meowsong.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  position: relative;
}

.meow__info {
  padding: 3rem;
}

.keys {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 2;
}

.keys > div {
  height: 100px;
  width: 100px;
  flex: 1;
  cursor: pointer;
  border-radius: 30px 50px;
}

.key1 {
  background: var(--blue);
}

.key2 {
  background: var(--yellow);
}

.key3 {
  background: var(--red);
}

.key4 {
  background: var(--light-yellow);
}

.key5 {
  background: var(--light-blue);
}

.meow-balls > div {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transform: scale(1);
  z-index: 1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }

  50% {
    bottom: 30%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 80%;
  }
}

@media only screen and (min-width: 500px) {
  .hangman__info {
    padding: 4rem;
  }

  .wrapper {
    display: block;
    position: absolute;
    top: 400px;
    padding: 2rem;
    margin: 2rem;
  }

  span {
    border-bottom: 1px solid white;
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    width: 2.5rem;
    line-height: 2.4rem;
    margin: 0 0.1rem;
    text-align: center;
    text-transform: uppercase;
  }

  .puzzle {
    display: flex;
    margin-bottom: 2rem;
  }

  #hangman-status {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .actions {
    flex-direction: row;
  }
}
