input {
  margin: 0.25rem;
}

.input {
  --border-color: #aaa;

  border: 1px solid var(--border-color);
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;
}

.input:focus {
  --border-color: #0af;
  box-shadow: 0 0 5px 0 var(--border-color);
}

.input.input-success {
  --border-color: #27ae60;
}

.input.input-success:focus {
  --border-color: #0f0;
}

.input.input-error {
  --border-color: #eb5757;
}

.input.input-error:focus {
  --border-color: #f00;
}

.input.input-large {
  font-size: 1.25rem;
}

.input.input-small {
  font-size: 0.75rem;
}

.input:disabled {
  background-color: #eaeaea;
}
