<footer>
    <div class="footer">
        <img class="footer-logo" src="/img/meowlo-logo.svg">
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/#pricing">Pricing</a>
            <a href="/about">About</a>
        </nav>
        <address>
            <p>Email: <a href="mailto:hi@meowlo.cat">hi@meowlo.cat</a></p>
            <p>Phone: <a href="tel:MEOW-111-8888">MEOW-111-8888</a></p>
            <p>Address: Meowlo, Cat Avenue 123, <br> New Kitty 52 678,<br> United States of Cats</p>
        </address>
        <div class="social">
            <img src="/img/facebook.svg">
            <img src="/img/twitter.svg">
            <a href="https://www.linkedin.com/in/annietaylorchen/"><img src="/img/linkedin.svg"></a>
            <a href="https://github.com/AnnieTaylorCHEN"><img src="/img/github.svg"></a>
        </div>
    </div>

    <p class="copyright">&copy; 2019, Meowlo. All rights reserved.</p>
    <p class="author">Hand made with &#x2764; by <a href="https://www.annietaylorchen.com" target="_blank">Annie Taylor CHEN</p>
</footer>