<header>
  <div class="logo">
    <a href="/"><img src="/img/meowlo-logo.svg" /></a>
    <h1>{{title}}</h1>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/#pricing">Pricing</a>
    <a href="/about">About</a>
  </nav>
</header>