/*  Font imports
================================================== */
@font-face {
  font-family: "Exo";
  src: url("../resources/fonts/Exo-Bold.woff2") format("woff2"),
    url("../resources/fonts/Exo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto-Italic.woff2") format("woff2"),
    url("../resources/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../resources/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto-Light.woff2") format("woff2"),
    url("../resources/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../resources/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*  Sectioning elements
================================================== */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  background-color: #f5f5f5; /*#ecfde0;*/
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

article,
footer,
header,
nav,
span {
  padding: 0;
}

/*  Helpers
================================================== */
.hidden {
  display: none !important;
}

/* Prevents divs and text from getting a highlight color on all devices */
.noSelectionHighlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none; /* For chrome on android */
}

/*  Anchor tags
================================================== */
a,
a:visited,
a:focus,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/*  Headings
================================================== */
h1,
h3,
h4,
h5,
h6 {
  color: #85c040;
  font-family: Exo, sans-serif;
  margin: 0.25rem 0;
}

h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #e6e6e6;
  text-shadow: 0 0 20px #000000;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

/*  Lists
================================================== */
ul {
  padding-left: 0;
  list-style-type: none;
}

/*  Images
================================================== */
img,
picture {
  border: none;
  max-width: 100%;
}
