/* Normalize & Reset */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #777;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

button,
input,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Form Styles */

.container {
  width: 100%;
}

.ajax-form {
  width: 100%;
}

.ajax-form input,
.ajax-form textarea {
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 6px;
  margin: 0 0 27px;
  background: #eee;
  outline: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.ajax-form input:focus,
.ajax-form textarea:focus {
  border: 3px solid #2735a7;
  color: #424651;
}

.ajax-form input[type="submit"] {
  border: 3px solid #2735a7;
  color: #2735a7;
}

.ajax-form input[type="submit"]:hover {
  background-color: #2735a7;
  border: 3px solid #2735a7;
  color: white;
}

.name,
.email {
  width: 48%;
}

.name {
  float: left;
}

.email {
  float: right;
}

.message {
  width: 100%;
}

.form-btn {
  text-align: center;
}

.error {
  border: 3px solid #ed1941 !important;
}

.form-thank-you {
  display: none;
  width: 100%;
  text-align: center;
}

.form-thank-you h3 {
  padding-top: 15px;
}

@media (max-width: 577px) {
  .name,
  .email {
    width: 100%;
    float: none;
  }
}
